<!--
  title: contact.component.html
  author: ngi bujri
  date: july 16 2023
  description: contact component
-->

<h1 class="center">Get In Touch!</h1>

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card>
      <mat-card-title class="center">Email</mat-card-title>
      <br />
      <mat-card-content>
        <p class="center">loan_app@mail.com</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="center">Phone</mat-card-title>
      <br />
      <mat-card-content>
        <p class="center">336-123-4567</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
