<!--
  title: about.component.html
  author: ngi bujri
  date: july 16 2023
-->

<div fxFlex>
  <h1 class="center">Get to Know Us</h1>

  <div>
    <img src="../../assets/money-house.jpg" alt="" style="width: 500px" />
  </div>

  <div>
    <h2>Who We Are</h2>
    <p>
      Loan App is an online tool to help anyone calculate an estimate on their
      monthly payments and to see how much interest they will pay. It is very
      simple to use, even dummies will have no problem. Get an estimate on any
      loans such as home, auto, etc. right now!
    </p>
  </div>

  <div>
    <h2>Our Mission</h2>
    <p>
      Our mission is for anyone to be able to get a quick and accurate estimate
      on their monthly loan payments and interest payments. With our easy to use
      online calculator, you can get estimates quick to ensure you choose the
      right loan for you.
    </p>
  </div>
</div>
