/* You can add global styles to this file, and also import other style files */

@import "./theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#nav-bar {
  margin-bottom: 50px;
}

#nav-bar .mat-button:hover {
  text-decoration: underline;
}

.main-container {
  padding-top: 25px;
  width: 90%;
  /* center container */
  margin: 0 auto;
}

// center text
.center {
  text-align: center;
}
